body
{
    background-color: 	#F5F5F5;
}
 h1{
    
    text-align : center;  
    text-decoration: none; 
    overflow: hidden;
 }
.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
/* Creates the container */
.row {
    display: flex; 
    flex-wrap:wrap;
    flex-direction: row;
    /*padding:0 4px;*/
    justify-content: space-around; 
    padding:0; 
    background-color: #F5F5F5;


}
/* Creates three columns */
.column0{
    flex : 33.33%;
    max-width: 33.33%;
    /* flex-direction : column;  */
    /* justify-content: center; */
    /* 0 4px; */
    padding:0px; 
}


.boxHeader
{
    text-align : left; 
    text-decoration: none;
}
.boxStyle0{
  
    align-self: center;
    overflow: hidden;
    background-color: white;
    border-radius: 15px;
    width: 375px;
    height : 25%; 
    padding: 50px;
    margin: 50px;
   
 
}
.boxStyle1{
    overflow: hidden;
    background-color: white;
    border-radius: 15px;
    width: 375px;
    height : 25%; 
    padding: 50px;
    margin: 50px;

}

.boxStyle2{
    align-self: center;
    overflow: hidden;
    background-color: white;
    border-radius: 15px;
    width: 375px;
    height : 25%; 
    padding: 50px;
    margin: 50px;
 
}

img{
    /*display: block;*/
    margin-left:90%;
    width : 10%; 
}
.supervisor {
    border-top: 5px solid cyan;
}
.teamBuilder{
    border-top: 5px solid red;
}
.karma{
    border-top: 5px solid orange;
}

.calculator {
    border-top: 5px solid blue;
}

  /*@media screen and (max-width:150px) { 
    .column {
        flex : 100%;
        background-color : lightgreen;
        max-width: 100%;
            }
            
    }*/
}