body
{
    background-color: 	#F5F5F5;
}
 h1{
    text-align : center;  
    text-decoration: none; 
    overflow: hidden;
 }
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
/* Creates the container */
.row {
    display: flex; 
    flex-wrap:wrap;
    flex-direction: row;
    /*padding:0 4px;*/
    justify-content: space-around;
    padding:0; 
    background-color: #F5F5F5;

}
/* Creates three columns */
.column{
    flex-direction : column;
   
    /* 0 4px; */
    padding:0px; 
}


.boxHeader
{
    text-align : left; 
    text-decoration: none;
}
.boxStyle0{
    overflow: hidden;
    background-color: white;
    border-radius: 15px;
    width: 300px;
    height : 30%; 

    align-self: center;
 
}
.boxStyle2{
    overflow: hidden;
    background-color: white;
    border-radius: 15px;
    width: 100px;
    height : 30%; 
    padding: 50px;
    margin: 45px;

}

.boxStyle3{
    overflow: hidden;
    background-color: white;
    border-radius: 15px;
    width: 100px;
    height : 30%; 
    padding: 50px;
    margin: 45px;
 
}

img{
    display: block;
    margin-left:90%;
    width : 100%; 
}
.supervisor {
    border-top: 5px solid cyan;
}
.teamBuilder{
    border-top: 5px solid red;
}
.karma{
    border-top: 5px solid orange;
}

.calculator {
    border-top: 5px solid blue;
}

  @media screen and (max-width:150px) { 
    .column {
        flex : 100%;
        background-color : lightgreen;
        max-width: 100%;
     
    } 
}